<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2016 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Times New Roman;10.2</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="phanmemquanlyrapchieuphim.Properties.Settings.phanmemquanlyrapchieuphimConnectionString" connectionString="Data Source=LAPTOP-SBN18PPA\SQLEXPRESS;Initial Catalog=phanmemquanlyrapchieuphim;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="phanmemquanlyrapchieuphimEntities" connectionString="metadata=res://*/DTO.Model.csdl|res://*/DTO.Model.ssdl|res://*/DTO.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SBN18PPA\SQLEXPRESS;initial catalog=phanmemquanlyrapchieuphim;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="phanmemquanlyrapchieuphimEntities1" connectionString="metadata=res://*/DTO.Model.csdl|res://*/DTO.Model.ssdl|res://*/DTO.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SBN18PPA\SQLEXPRESS;initial catalog=phanmemquanlyrapchieuphim;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="phanmemquanlyrapchieuphimEntities2" connectionString="metadata=res://*/DTO.model.Model.csdl|res://*/DTO.model.Model.ssdl|res://*/DTO.model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SBN18PPA\SQLEXPRESS;initial catalog=phanmemquanlyrapchieuphim;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="myConnectionString" value="Data Source=LAPTOP-SBN18PPA\SQLEXPRESS;Initial Catalog=phanmemquanlyrapchieuphim;Integrated Security=True" />
    <add key="Securitykey" value="AbdulBasit" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Licensing" publicKeyToken="f89b4760ba7dcb6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>